/*
*	 Author: beshleyua
*	 Author URL: http://themeforest.net/user/beshleyua
*/

/* TABLE OF CONTENTS
	- Theme Yellow Light #F3E367
*/

.preloader .box-1 {
	background: #F3E367;
}

.preloader .spinner .lines:after {
	background: #F3E367;
}

a:hover {
	color: #F3E367;
}

.animated-button span {
	text-shadow: 0 16px 0 #F3E367;
}

a.btn:hover,
.btn:hover,
.single-post-text input[type="submit"]:hover,
button:hover {
	border-color: #F3E367;
}

a.btn:hover .icon,
.btn:hover .icon,
.single-post-text input[type="submit"]:hover .icon,
button:hover .icon {
	color: #F3E367;
}

.header .top-menu ul li.current-menu-item > a {
	color: #F3E367;
}

.header .top-menu-nav .sub-menu li a:hover,
.header .top-menu-nav .children li a:hover,
.header .top-menu-nav .sub-menu li.active a,
.header .top-menu-nav .children li.active a {
	color: #F3E367;
}

.background-filter {
	background-color: #F3E367;
}

.section .titles .subtitle {
	color: #F3E367;
}

.section.started .h-title strong {
	color: #F3E367;
}

.section.started .started-content .h-subtitle,
.section.started .started-content .typed-subtitle,
.section.started .started-content .typed-cursor {
	color: #F3E367;
}

.info-list ul li strong {
	color: #F3E367;
}

.resume-item .date {
	color: #F3E367;
}

.resume-item .icon {
	color: #F3E367;
}

.skills .progress .percentage {
	background: #F3E367;
}

.skills .progress .percentage .percent {
	color: #F3E367;
}

.skills.list .name:before {
	color: #F3E367;
}

.skills.dotted .progress .da span {
	background: #F3E367;
}

.skills.circles .progress span {
	color: #F3E367;
}

.skills.circles .progress .bar,
.skills.circles .progress.p51 .fill,
.skills.circles .progress.p52 .fill,
.skills.circles .progress.p53 .fill,
.skills.circles .progress.p54 .fill,
.skills.circles .progress.p55 .fill,
.skills.circles .progress.p56 .fill,
.skills.circles .progress.p57 .fill,
.skills.circles .progress.p58 .fill,
.skills.circles .progress.p59 .fill,
.skills.circles .progress.p60 .fill,
.skills.circles .progress.p61 .fill,
.skills.circles .progress.p62 .fill,
.skills.circles .progress.p63 .fill,
.skills.circles .progress.p64 .fill,
.skills.circles .progress.p65 .fill,
.skills.circles .progress.p66 .fill,
.skills.circles .progress.p67 .fill,
.skills.circles .progress.p68 .fill,
.skills.circles .progress.p69 .fill,
.skills.circles .progress.p70 .fill,
.skills.circles .progress.p71 .fill,
.skills.circles .progress.p72 .fill,
.skills.circles .progress.p73 .fill,
.skills.circles .progress.p74 .fill,
.skills.circles .progress.p75 .fill,
.skills.circles .progress.p76 .fill,
.skills.circles .progress.p77 .fill,
.skills.circles .progress.p78 .fill,
.skills.circles .progress.p79 .fill,
.skills.circles .progress.p80 .fill,
.skills.circles .progress.p81 .fill,
.skills.circles .progress.p82 .fill,
.skills.circles .progress.p83 .fill,
.skills.circles .progress.p84 .fill,
.skills.circles .progress.p85 .fill,
.skills.circles .progress.p86 .fill,
.skills.circles .progress.p87 .fill,
.skills.circles .progress.p88 .fill,
.skills.circles .progress.p89 .fill,
.skills.circles .progress.p90 .fill,
.skills.circles .progress.p91 .fill,
.skills.circles .progress.p92 .fill,
.skills.circles .progress.p93 .fill,
.skills.circles .progress.p94 .fill,
.skills.circles .progress.p95 .fill,
.skills.circles .progress.p96 .fill,
.skills.circles .progress.p97 .fill,
.skills.circles .progress.p98 .fill,
.skills.circles .progress.p99 .fill,
.skills.circles .progress.p100 .fill {
	border-color: #F3E367;
}

.service-item .icon {
	color: #F3E367;
}

.section.works .filters label.glitch-effect {
	color: #F3E367;
}

.box-items .box-item:hover .desc .name {
	color: #F3E367;
}

.box-items .box-item .image .info .centrize {
	background: #F3E367;
}

.box-items .box-item .desc .category {
	color: #F3E367;
}

.contact-form .group-val .label strong {
	color: #F3E367;
}

.contact-info .subname {
	color: #F3E367;
}

.pricing-item .icons {
	color: #F3E367;
}

.pricing-item .feature-list ul li strong {
	background: #F3E367;
}

.reviews-item .company {
	color: #F3E367;
}

.reviews-item .text:before {
	color: #F3E367;
}

blockquote {
	border-left-color: #F3E367;
}

.footer .socials a:hover {
	color: #F3E367;
}